/* header */
.logopanel{
    background-color: black;
    text-align: center;
    padding: 10px;
}
#logo{
    max-width: 50%;
}

.greet{
    color:white !important;
    font-size: 20px;
}
.custom-logout{
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: red;
}

.signout-panel{
    text-align: center;
}

/* userlist */
.userlist{
    margin: 10px;
    background-color: rgb(206, 201, 195);
}

.detaillabel{
    padding: 10px;
}

.detailsview{
    padding: 10px;
}

form{
    text-align: center;
}


.delete-btn{
    background-color: red;
    color: white;
    padding: 10px;
    width: 25%;
    margin: 25px;
}